<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Content page example - NHS.UK prototype kit
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
	{{ backLink({
		"text": "Go back",
		"href": "javascript:history.back()"
	})}}
	<span class="nhsuk-caption-l">Question 17 of 18</span>
	
	{{ checkboxes({
		"idPrefix": "q17",
		"name": "q17",
		"fieldset": {
			"legend": {
				"text": "During the last 2 weeks, have you been bothered by worrying about any of the following?",
				"classes": "nhsuk-fieldset__legend--l",
				"isPageHeading": true
			}
		},
		"items": [
			{
				"value": "0",
				"text": "Your health"
			},
			{
				"value": "1",
				"text": "Your weight or how you look"
			},
			{
				"value": "2",
				"text": "Little or no sexual desire or pleasure during sex"
			},
			{
				"value": "3",
				"text": "Difficulties with your partner"
			},
			{
				"value": "4",
				"text": "The stress of taking care of family members"
			},
			{
				"value": "5",
				"text": "Stress at work, school or outside home"
			},
			{
				"value": "6",
				"text": "By financial problems or worries"
			},
			{
				"value": "7",
				"text": "Having no one to turn to"
			},
			{
				"value": "8",
				"text": "Something bad that happened recently"
			},
			{
				"value": "9",
				"text": "None of the above"
			}
		]
	})}}
	{{ button({
		"text": "Continue",
"classes": "js-button",
		"href": "/18"
	}) }}
{% endblock %}