<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Content page example - NHS.UK prototype kit
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
	<h1>Mood self-assessment quiz</h1>
	<p>When it comes to emotions, it can sometimes be hard to recognise or admit that we're not feeling 100%.
	<p>If you are 16 or over, take this short questionnaire to:
	<ul>
		<li>Help you better understand how you've been feeling over the last fortnight</li>
		<li>Point you in the right direction for helpful advice and information</li>
	</ul>
	<p>If you are struggling, it is not intended to replace a consultation with a GP.</p>
	<p>Under 16? visit the Young Minds website.</p>
	{{ actionLink({
		"text": "Start",
		"href": "/1"
	}) }}
{% endblock %}
